<h5 class="m-4 text-center">Share the URL Via</h5>
<div class="d-flex align-items-baseline justify-content-center mb-4">
    <share-buttons style="margin-top: -40px;" theme="circles-dark"
        [include]="['copy', 'whatsapp','facebook', 'email','linkedin','telegram','twitter','sms']" [showIcon]="true"
        [showText]="false" [url]="fullUrl" description="Angular Share Buttons" twitterAccount="rodrigokamada"
        class="pt-5">
    </share-buttons>
    <!-- <div>
        <img src="../../../assets/instagram.png" style="margin-top: -5px;margin-left: -5px;"
            (click)="shareOnInstagram()" alt="" width="60px" height="60px">
    </div> -->
</div>