<div class="main-container">
    <div class="header-content">
        <div class="header-name" [routerLink]="['/']">
            <h5 style="color:#76C2ED;">Agent</h5>
            <h5>Real</h5>
        </div>
        <div class="header-name1">
            <i class="fa-solid fa-user" style="color: #70A2BE;" title="Login"></i>
        </div>
    </div>
    <div class="mid-content">

        <div class="left">
            <h2 style="color: #8dccef; margin-top: 100px;">About
                <span style="font-weight: 700;">
                    Agent<span style="color: black;">Real.</span>
                </span>
                <span style="color: black;">Ai</span>
            </h2>
            <div style="font-weight: 600;">
                AgentReal.Ai is cutting-edge real estate technology platform that
                leverages the power of artificial intelligence to simplify and optimize real
                estate management. Our goal is to empower indiviuals and businesses to
                make informed decisions, stramline processes, and unlock the full potential
                of their real estate investements

            </div>
        </div>

        <div class="right-content">
            <img src="../../assets/ag3.jpg" width="600px" height="320" style="border-radius: 5px;">
        </div>


    </div>



    <div class="footer-content">
        <div>
            <span [routerLink]="['/about']">About Us</span>
        </div>
        <div>
            <span [routerLink]="['/contact']">Contact Us</span>
        </div>
        <div>
            <span [routerLink]="['/help']">Help</span>
        </div>
        <div>
            <span [routerLink]="['/privacyPolicy']">Privacy Policy</span>
        </div>
        <div>
            <span [routerLink]="['/terms']">Terms Of Use</span>
        </div>
    </div>
    <div class="bottom-image">
        <img class="dash-imag" src="../../assets/dashbackground.png" alt="">
    </div>
</div>