<div class="main-container">
    <div class="header-content">
        <div class="header-name" [routerLink]="['/']">
            <h5 style="color:#76C2ED;">Agent</h5>
            <h5>Real</h5>
        </div>
        <!-- <div class="header-name1" [matMenuTriggerFor]="menu" #trigger="matMenuTrigger">
            <i class="fa-solid fa-user" style="color: #70A2BE;" title="Login"></i>
        </div> -->
    </div>


    <div class="mid-content">
        <div class="left-content">
            <h2 style="margin-left: 25px;">Terms of Use</h2>
            <div>
                <div style="margin-left: 30px; margin-top: 25px;">
                    <h5>User guidelines?</h5>
                </div>
                <ul>
                    <li class="my-2">The right to terminate abusive accounts??</li>
                    <li class="my-2">How user can termijnate accounts?</li>
                    <li class="my-2">Limitation of Liability?</li>
                    <li class="my-2">Governing law and legal disputes</li>
                    <li class="my-2">Contact information</li>

                </ul>
            </div>
        </div>

        <div class="right-content">
            <h3>User guidelines?</h3>
            <div class="content-details">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>

    </div>

    <div class="footer-content">
        <div>
            <span [routerLink]="['/about']">About Us</span>
        </div>
        <div>
            <span [routerLink]="['/contact']">Contact Us</span>
        </div>
        <div>
            <span [routerLink]="['/help']">Help</span>
        </div>
        <div>
            <span [routerLink]="['/privacyPolicy']">Privacy Policy</span>
        </div>
        <div>
            <span [routerLink]="['/terms']">Terms Of Use</span>
        </div>
    </div>

</div>