.main-container {
    width: 100%;
    height: 100%;
    border: 2px solid white;
}

.header-content {
    margin: 20px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
}

.dash-imag {
    width: 100%;
    height: 100%;
    margin-top: 65px;
    max-width: 100%;
    position: relative;
}

.bottom-image-container {
    position: relative;
    display: inline-block;
}

.header-name {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 3px;
    max-width: 100%;
    cursor: pointer;
}

.header-name>h5 {
    font-size: 24px;

}

.header-name1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #70A2BE;
    max-width: 100%;
}

.mid-content {
    width: 700px;
    gap: 10px;
    padding: 10px;
    height: fit-content;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    z-index: 200px;
    position: relative;
    max-width: 100%;
}

.mid-header {
    width: 700px;
    height: 128px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.small-mid-content {
    width: 100%;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    margin-bottom: 20px;
    color: #70A2BE;
}

.input-group-text {
    color: #70A2BE;
    background-color: white;
    border-left: none;
    border-color: #33ccff;
    padding: 10px;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    gap: 10px;
    align-items: center;

}

.form-control:focus {
    border-color: #76C2ED !important;
    box-shadow: none !important;
}

.mid-search-content {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer-content {
    max-width: 100%;
    position: absolute;
    z-index: 1000;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    right: 30px;
    bottom: 20px;
    gap: 30px;
    font-size: 14px;
    font-weight: 650;
    color: #041533;
}

.mat-custon-select {
    border-radius: 6%;
    padding: 10px 15px 0 0;
    text-align: center;
    width: 132px !important;
    border: 1px solid #33ccff;
    background-color: #d0e6f3;
}

::ng-deep.mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal:after {
    color: green;
}

::ng-deep .mat-select-content {
    background-color: #33ccff;
    width: 300px;
}

.login {
    width: 80px;
    padding: 10px;
    background-color: white;
    border: none;
}

.button-grp {
    display: flex;
    align-items: baseline;
    gap: 10px;
    justify-content: space-between;

}

.login-link-active {
    border: none;
    border-bottom: 2px solid #40afed;
    color: black;
    font-weight: 500;
}


::ng-deep.pac-container:after {
    content: none !important;
}

@media (max-width: 768px) {
    .mid-header {
        width: 100%;
        height: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .mid-header>h1 {
        font-size: 20px;
    }

    .mid-search-content {
        float: left;
        padding: 10px;
    }

    /* .mat-custon-select {
        width: 333px !important;
        margin-right: 20px;
        float: right;
        padding: 10px;

    }

    .input-group-text {
        float: right;
    }

    .dashSearch {
        background-color: antiquewhite;
        width: 60px !important;
    } */
    .input-group {
        width: 100% !important;
    }

    .input-group-text {
        width: 310px !important;
    }

    .mat-custon-select,
    .input-group .dashSearch,
    .search-button {
        width: 310px !important;
        /* Adjust as needed */
    }


}